#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
}

img{
    width: 400px;
    height: 400px;
}

@media only screen and (min-width:0px) and (max-width:320px){
    #main{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (min-width:0px) and (max-width:320px){
   #main{
       grid-template-columns: repeat(2,1fr);
   }
}